# Production values file for GitHub Actions deployment
# This file uses GitHub Secrets - no hardcoded credentials

global:
  storageClass: "linode-block-storage-retain"
  domain: "christinepuk.net"
  timezone: "UTC"

plex:
  enabled: true
  # claimToken will be injected from PLEX_CLAIM_TOKEN secret
  
  rclone:
    enabled: true
    # Configuration will be sourced from RCLONE_CONFIG secret
    secretName: rclone-secret
  
  persistence:
    config:
      size: 50Gi
      storageClass: "linode-block-storage-retain"
    media:
      enabled: false  # Using rclone object storage
  
  resources:
    requests:
      memory: 1Gi
      cpu: 300m
    limits:
      memory: 2Gi
      cpu: 800m
  
  ingress:
    enabled: true
    host: "tv.christinepuk.net"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
    tls:
      enabled: true

wordpress:
  sites:
    site1:
      enabled: true
      name: "blog"
      host: "blog.christinepuk.net"
      mysql:
        auth:
          # Will use secret: mysql-site1-secret
          existingSecret: "mysql-site1-secret"
    site2:
      enabled: true
      name: "djpup"
      host: "djpup.christinepuk.net"
      mysql:
        auth:
          existingSecret: "mysql-site2-secret"
    site3:
      enabled: true
      name: "surf"
      host: "surf.christinepuk.net"
      mysql:
        auth:
          existingSecret: "mysql-site3-secret"
  
  persistence:
    size: 20Gi
    storageClass: "linode-block-storage-retain"
  
  mysql:
    persistence:
      size: 50Gi
      storageClass: "linode-block-storage-retain"
    auth:
      # Will use secret: mysql-root-secret
      existingSecret: "mysql-root-secret"

ingress:
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"

certManager:
  enabled: true
  issuer:
    # Email will be injected from CERT_MANAGER_EMAIL secret