{{- if or (and .Values.plex.enabled .Values.plex.rclone.enabled) (and .Values.audiobookshelf.enabled .Values.audiobookshelf.rclone.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "multi-service.fullname" . }}-rclone-secret
  labels:
    {{- include "multi-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: rclone
type: Opaque
stringData:
  rclone.conf: |
    {{- if and .Values.plex.enabled .Values.plex.rclone.enabled }}
    [{{ .Values.plex.rclone.remoteName }}]
    type = {{ .Values.plex.rclone.type }}
    {{- range $key, $value := .Values.plex.rclone.config }}
    {{ $key }} = {{ $value }}
    {{- end }}
    {{- end }}
    {{- if and .Values.audiobookshelf.enabled .Values.audiobookshelf.rclone.enabled }}
    {{- if not (and .Values.plex.enabled .Values.plex.rclone.enabled) }}
    [{{ .Values.audiobookshelf.rclone.remoteName }}]
    type = {{ .Values.audiobookshelf.rclone.type }}
    {{- range $key, $value := .Values.audiobookshelf.rclone.config }}
    {{ $key }} = {{ $value }}
    {{- end }}
    {{- end }}
    {{- end }}
{{- end }}