{{- if and .Values.plex.enabled .Values.plex.rclone.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "multi-service.fullname" . }}-rclone-config
  labels:
    {{- include "multi-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: rclone
type: Opaque
stringData:
  rclone.conf: |
    [{{ .Values.plex.rclone.remoteName }}]
    type = {{ .Values.plex.rclone.type }}
    {{- range $key, $value := .Values.plex.rclone.config }}
    {{ $key }} = {{ $value }}
    {{- end }}
{{- end }}